<div id="incomingCard">
    <h5>{{this.name}}</h5>
    <table align="center" class="table-hover">
           
        <tbody>
            <tr>
                <th>Category</th>
                <td>Information</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{this.colors[0]}}</td>
            </tr>
            <tr>
                <th>Mana Cost</th>
                <td>{{this.manaCost}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{this.type}}</td>
            </tr>
            <tr>
                <th>Rarity</th>
                <td>{{this.rarity}}</td>
            </tr>
            <tr>
                <th>Set</th>
                <td>{{this.set}}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{this.number}}</td>
            </tr>
            <tr>
                <th>Power</th>
                <td>{{this.power}}</td>
            </tr>
            <tr>
                <th>Toughness</th>
                <td>{{this.toughness}}</td>
            </tr>
            <tr>
                <th>Layout</th>
                <td>{{this.layout]}}</td>
            </tr>
            <tr>
                <th>Multiverse ID</th>
                <td>{{this.multiverseid}}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{this.text}}</td>
            </tr>
        </tbody>

    </table>
</div>
