 
<a class="btn btn-primary" data-toggle="collapse" href="#matchups" role="button" aria-expanded="false" aria-controls="matchups">
    Click to Expand +
  </a>

<div class="collapse" id="matchups">
    <div class="card card-body">
        <table class="table-hover">
            <thead>
                <tr>
                    <th>Link</th>
                    <th>Player</th>                      
                    <th>Player</th>
                    <th>Deck</th>
                    <th>Deck</th>
                </tr>
            </thead>
            
            <tbody>
                {{#each this.Rounds}} 
                    <tr>
                        <td><a href="{{ this.coverage_link }}"> {{ this.round_number }} </a></td>
                        <td>{{ this.player1_name }} </td>
                        <td>{{ this.player2_name }} </td>
                        <td>{{ player1_deck }}</td>
                        <td>{{ player2_deck }}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
