 <table class="table-hover">
                <thead>
                    <tr>
                        <th>Link</th>
                        <th>Player</th>
                        <th>Player</th>
                        <th>Deck</th>
                        <th>Deck</th>
                    </tr>
                </thead>
                <tbody>
                {{#each this.Rounds}} 
                    <tr>
                        <td><a href="{{ this.coverage_link }}"> {{ this.round_number }} </a></td>
                        <td>{{ this.player1_name }} </td>
                        <td>{{ this.player2_name }} </td>
                        <td>{{ player1_deck }}</td>
                        <td>{{ player2_deck }}</td>
                    </tr>
                {{/each}}
                </tbody>

            </table>  <!--end table-hover -->