<script id="eventTemplate" type="text/x-handlebars-template">
    <div class="jumbotron">
        <!-- Information for the event that is not part of the table -->
                <!-- Image for the sponsor of the tournament -->
            <img src"{{ this.sponsorLogo }}">
            <!-- eventTitle should be the same as eventName from form.hb -->
            <h2>{{ this.eventName }}</h2>
            <!-- format should be the same as eventFormat from form.hb -->
            <h3>Format: {{ this.format }}</h3>

        <div class="table-responsive">
            
            <table class="table-hover">
                <thead>
                    <tr>
                        <th>Link</th>
                        <th>Player</th>
                        <th>Player</th>
                        <th>Deck</th>
                        <th>Deck</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{{ this.linkUrl }}"> <img src"{{ this.providerImg }}"> {{ link text }} </a></td>
                        <td><a href="{{ this.player1url }}"> {{ this.player1 }} </a></td>
                        <td><a href="{{ this.player2url }}"> {{ this.player2 }} </a></td>
                        <td>{{ this.deck1 }}</td>
                        <td>{{ this.deck2 }}</td>
                    </tr>

                </tbody>

            </table>  <!--end table-hover -->
        </div>  <!-- end table-responsive  -->
    </div>  <!-- end jumbotron  -->
</script>