{{!-- <script id="tableTemplate" type="text/x-handlebars-template">
    <div class="jumbotron">
        <!-- Information for the event that is not part of the table -->
                <!-- Image for the sponsor of the tournament -->
            <img src"{{ this.sponsorLogo }}">
            <!-- eventTitle should be the same as eventName from form.hb -->
            <h2>{{ this.eventName }}</h2>
            <!-- format should be the same as eventFormat from form.hb -->
            <h3>Format: {{ this.format }}</h3>

        <div class="table-responsive">
            
            <table class="table-hover">
                <thead>
                    <tr>
                        <th>Link</th>
                        <th>Player</th>
                        <th>Player</th>
                        <th>Deck</th>
                        <th>Deck</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{{ this.linkUrl }}"> <img src"{{ this.providerImg }}"> {{ link text }} </a></td>
                        <td><a href="{{ this.player1url }}"> {{ this.player1 }} </a></td>
                        <td><a href="{{ this.player2url }}"> {{ this.player2 }} </a></td>
                        <td>{{ this.deck1 }}</td>
                        <td>{{ this.deck2 }}</td>
                    </tr>

                </tbody>

            </table>  <!--end table-hover -->
        </div>  <!-- end table-responsive  -->
    </div>  <!-- end jumbotron  -->
</script> --}}

<div class="container">
    <div class="row">
        <div class="col-xs-12 enter_section">
            <h2>Add an Event</h2>
            <form action="/events/create" method="POST">
                <div class="form-group">
                    <label for="coverageProvider">Coverage Provider</label>
                        <select class="form-control" name="coverage_provider">
                            <option>Twitch</option>
                            <option>YouTube</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="eventSponsor">Event Sponsor</label>
                        <select class="form-control" name="event_sponsor">
                            <option>Star City Games</option>
                            <option>Wizards of the Coast</option>
                        </select>
                </div>
                <label>Event Name</label>
                    <input type="text" class="form-control" name="event_name" value="" id="enter_text">
                <div class="form-group">
                    <label>Date</label>
                    <input class="form-control" name="event_date" placeholder="MM/DD/YYYY" type="text"/>
                </div>
                <div class="form-group">
                    <label for="format">Format</label>
                        <select class="form-control" name="format">
                            <option>Standard</option>
                            <option>Modern</option>
                            <option>Legacy</option>
                            <option>Vintage</option>
                            <option>Limited</option>
                            <option>Block</option>
                            <option>Mixed</option>
                        </select>
                </div>              
                <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 enter_section">
            <h2>Add a Round</h2>
            <form action="/events/rounds" method="POST">
                <div class="form-group">
                    <label for="roundNumber">Round Number</label>
                        <select class="form-control" name="round_number">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                        </select>
                </div>  
                <div class="form-group">
                    <label>Event Name</label>
                    <input type="text" class="form-control" name="event_name" value="" id="enter_text">
                </div>
                <div class="form-group">
                    <label>Event ID</label>
                    <input type="text" class="form-control" name="EventId" value="" id="enter_text">
                </div>
                <div class="form-group">
                    <label>Coverage Link</label>
                    <input type="text" class="form-control" name="coverage_link" value="" id="enter_text">
                </div>  
                <h3>Player 1</h3>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="player1_name" value="" id="enter_text">
                </div>
                <div class="form-group">
                    <label>Deck</label>
                    <input type="text" class="form-control" name="player1_deck" value="" id="enter_text">
                </div>
                <h3>Player 2</h3>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="player2_name" value="" id="enter_text">
                </div>
                <div class="form-group">
                    <label>Deck</label>
                    <input type="text" class="form-control" name="player2_deck" value="" id="enter_text">
                </div>        
                <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
            </form>
        </div>
    </div>
</div>

