
<div id="responseDiv">
<br>
<br>
    {{#if events}}
    {{#each events}}
        <div class="jumbotron" id="{{ this.ID }}">
            <div class="text-center">
                <h2><b> {{this.event_sponsor}}: {{this.event_name}} </b></h2>
                <h3> Coverage from {{this.event_date}} | Format: {{this.format}} </h3>
            </div>
            <br>
            <div class="text-center">
                <a class="btn tealButton" id="expandButton" data-toggle="collapse" href="#{{this.id}}" role="button" aria-expanded="false" aria-controls="{{this.id}}">Click to Expand +</a>
            </div>
            <br>

                <div class="table-responsive">
                    {{> table-partial}}
                </div>

        </div> {{!-- end jumbotron --}}
    {{/each}} {{!-- end #each events --}}
    {{else}}
        <div class="jumbotron" id="sorryScreen">
            <p>Sorry! We don't seem to have an event by that name yet.</p>
            <p>Please try your search again or create a new event.</p>
        </div>
    {{/if}}
</div>
</div>